In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

C:\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
data = pd.read_excel("Data_demo.xlsx")

#df = pd.read_excel (r'Path where the Excel file is stored\File name.xlsx')

In [4]:
data.head()

,ser_num,age,age_cat,gender,weight,height,BMI,BMI_cat,SCORE_1_0,SCORE2_0,...,DRUG_1_0,DRUG_1_1,DRUG_1_2,DRUG_2_0,DRUG_2_1,DRUG_2_2,ICU_LOS,LOS_Group,mortality,feeding_new
0,2,72,70-79,F,65.0,1.65,23.875115,18.5-24.9,16,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,9,LOS_8-13,0,EN
1,3,58,50-59,M,101.0,1.75,32.979592,30+,23,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5,LOS_5-7,0,EN
2,4,62,60-69,M,85.0,1.65,31.221304,30+,0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,3,LOS_3-4,0,EN
3,6,65,60-69,M,75.0,1.70,25.951557,25-29.9,0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23,LOS_14_and_more,0,EN
4,7,71,70-79,F,48.0,1.58,19.227688,18.5-24.9,0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,6,LOS_5-7,0,EN

In [5]:
data.describe()

,ser_num,age,weight,height,BMI,SCORE_1_0,SCORE2_0,SCORE2_2,Delta_SCORE2,trauma,...,LT_70%ENcal_day12,LT_70%ENcal_day13,DRUG_1_0,DRUG_1_1,DRUG_1_2,DRUG_2_0,DRUG_2_1,DRUG_2_2,ICU_LOS,mortality
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,362.000000,362.000000,362.000000,399.000000,...,398.00000,398.000000,384.00000,384.000000,384.000000,384.000000,384.000000,384.000000,399.000000,399.000000
mean,256.065163,58.368421,78.426817,1.693910,27.351338,15.413534,5.546961,3.251381,-2.295580,0.197995,...,0.81407,0.829146,0.12500,0.213542,0.252604,0.007812,0.010417,0.026042,13.320802,0.218045
std,146.558925,17.293276,19.458602,0.098448,6.718616,13.099615,4.385099,4.368778,5.221247,0.398989,...,0.38954,0.376855,0.33115,0.410341,0.435073,0.088157,0.101662,0.159467,12.786902,0.413437
min,2.000000,18.000000,32.000000,1.174000,8.159722,0.000000,0.000000,0.000000,-19.000000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,126.500000,50.000000,68.000000,1.650000,23.437500,0.000000,0.000000,0.000000,-6.000000,0.000000,...,1.00000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,259.000000,61.000000,75.000000,1.700000,26.122449,18.000000,6.000000,0.000000,-2.000000,0.000000,...,1.00000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
75%,386.500000,72.000000,88.000000,1.750000,29.759224,25.000000,9.000000,6.750000,0.000000,0.000000,...,1.00000,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,19.000000,0.000000
max,503.000000,98.000000,150.000000,2.400000,61.671247,115.000000,19.000000,20.000000,20.000000,1.000000,...,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,110.000000,1.000000